
body{
margin: 0;
font-family: 'segoe ui', sans-serif;
background-image: url(https://wallpaperaccess.com/full/538948.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

h1{ color: rgb(255, 0, 128);}
h1{
    font-size: 2em;
}
h2{color: rgb(15, 17, 13);}
h2{
    font-size: 25px;
}

.boton-info{
    background-color: rgb(220, 245, 239);
    color:rgb(21, 255, 0);
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}
.boton-info:hover{
    background-color: rgb(161, 42, 165);
}
}
