
body{
margin: 0;
font-family: 'segoe ui', sans-serif;
background-image: url(https://1.bp.blogspot.com/-Q-C6q_wii7g/Xvp2pfq5qRI/AAAAAAAAhE0/uHKL4fwMCEwiRtrEa_gHyJ9oN5OPOBdcgCK4BGAsYHg/s7680/6.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color:aquamarine;

a{
   font-size: 1.5em;
   text-align: left;
    margin-bottom: 5px;   
}}
