h1{ color: rgb(13, 0, 255);}
h1{
    font-size: 4em;
}

h2{color: rgb(0, 128, 17) }
h2{
    font-size: 3em;
}

body{
margin: 0;
font-family: 'segoe ui', sans-serif;
background-image: url(https://th.bing.com/th/id/R.4d0665db21c0049d328d960acd2db843?rik=pMSKHBVtcXEFhg&pid=ImgRaw&r=0);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.boton-info{
    background-color: rgb(17, 6, 69);
    color:rgb(255, 242, 0);
    padding: 20px 40px;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.5s ease
    }
.boton-info:hover{
    background-color: rgb(125, 233, 30);
}
